<div class="home-banner" >
    <h1 >Lala’s Little Nugget</h1>
    <h3 >Create your own Cocktails.</h3>
    <p> <button type="button" class="btn btn-light">
      <%= link_to 'Add a new cocktail', new_cocktail_path %></button></p>
</div>

<div class="card-category">
<% @cocktails.each do |cocktail| %>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body"><%= link_to cocktail.name, cocktail_path(cocktail) %>
      </div>
</div>
<%end%>
</div>
