<div class="home-banner" >
    <h1 >Lala's Little Nugget</h1>
    <h3 >Create your own Cocktails.</h3>
</div>

<div class="card-category">
<% @cocktails.each do |cocktail| %>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body"><%= link_to cocktail.name, cocktail_path(cocktail) %>
      </div>
</div>
<%end%>
</div>

<div class="link-container">
<p>
  <%= link_to 'Add new cocktail', new_cocktail_path %></p>
</div>
