<h1>View for doses forum ingredient is in here</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
    <%= f.association :ingredient %>
  <%= f.submit "Add Cocktail", class: "btn btn-primary" %>
<% end %>
