.home-banner {
  background-image: url('https://images.unsplash.com/photo-1521252690909-12bf8ef40082?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80');
  background-size: cover;
   height: 100vh;
   background-position: center;
   color: #eee;
   text-align: left;
   padding-top: 40vh;
   padding-left: 40px;
}

.home-banner h1  {
  font-size: 50px;
}
